<a target="_blank" class="platform-button" href="{{ include.url }}">
	{% if include.svg %}
	<span class="platform-button-svg {% if include.larger_icon %}platform-button-svg-larger{% endif %}" style="background-image: url('{{ include.svg }}');"></span>
	{% else if include.png %}
	<img class="platform-button-png {% if include.larger_icon %}platform-button-png-larger{% endif %}" src="{{ include.png }}" width="24" alt="Logo">
	{% endif %}
	<p class="platform-button-text" {% if include.padding %}style="padding-top: {{ include.padding }}" {% endif %}>{{ include.name }}</p>
</a>