<div class="youtube-thumbnail">
	<a target="_blank" draggable="false" class="youtube-thumbnail-clickable" href="{{ include.link }}">
		<div class="youtube-thumbnail-clickable-content">
			<div class="youtube-thumbnail-picture-container">
				<img draggable="false" alt="Video Thumbnail" width="210" src="{{ include.image }}">
				<p class="youtube-thumbnail-time">{{ include.duration }}</p>
			</div>
			<h3 class="youtube-thumbnail-title">{{ include.title }}</h3>
			<p class="youtube-thumbnail-text">{{ include.views }} views • {{ include.date }}</p>
		</div>
	</a>
</div>