<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}{% if page.url.size > 1 %} - Aizistral's Haven{% endif %}</title>
		<meta name="description" content="{{ page.description }}" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" href="/assets/css/styles.css">
		<link rel="icon" href="/assets/images/aizhead.png" type="image/x-icon">

		{% if page.redirect %}
		<meta http-equiv="Refresh" content="0; url='{{ page.redirect }}}}'" />
		{% endif %}

		{% feed_meta %}
		{% seo %}
	</head>

	<body>
		<header>
			<nav>
				<a href="/" class="header-logo">
					<img src="/assets/images/aizhead_3dM.png" class="header-logo_img" alt="Logo" width="768" height="712">
					<p class="header-logo_text">Aizistral's Haven</p>
				</a>
				<div class="header-buttons">
					<a href="/wikis" class="header-button">Wikis</a>
					<a href="/publications" class="header-button">Publications</a>
					<a href="/about" class="header-button">About</a>
					<a href="/contact" class="header-button">Contact</a>
				</div>
			</nav>
		</header>
		{{ content }}
	</body>

</html>