<!doctype html>
<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}{% if page.url.size > 1 %} | Aizistral's Haven{% endif %}</title>
		<meta name="description" content="{{ page.description }}" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />
		<link rel="stylesheet" href="/assets/css/styles.css">
		<link rel="icon" href="/assets/images/aizhead.png" type="image/x-icon">

		{% if page.redirect %}
		<meta http-equiv="Refresh" content="0; url='{{ page.redirect }}'" />
		{% endif %}

		{% feed_meta %}
		{% seo %}
	</head>

	<body>
		<header>
			<nav>
				<a href="/" class="header-logo">
					<img src="/assets/images/aizhead_3dM.png" class="header-logo_img" alt="Logo" width="768" height="712">
					<p class="header-logo_text">Aizistral's Haven</p>
				</a>
				<div class="header-buttons">
					<a href="/wikis" class="header-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-book header-button_icon" viewBox="0 0 16 16">
							<path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
						</svg>
						<span class="header-button_text">Wikis</span></a>
					<a href="/publications" class="header-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-newspaper header-button_icon" viewBox="0 0 16 16">
							<path d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5v-11zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5H12z" />
							<path d="M2 3h10v2H2V3zm0 3h4v3H2V6zm0 4h4v1H2v-1zm0 2h4v1H2v-1zm5-6h2v1H7V6zm3 0h2v1h-2V6zM7 8h2v1H7V8zm3 0h2v1h-2V8zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1z" />
						</svg>
						<span class="header-button_text">Publications</span></a>
					<a href="/about" class="header-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-info-circle header-button_icon" viewBox="0 0 16 16">
							<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
							<path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
						</svg>
						<span class="header-button_text">About</span></a>
					<a href="/about/#contact" class="header-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-envelope header-button_icon" viewBox="0 0 16 16">
							<path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
						</svg>
						<span class="header-button_text">Contact</span></a>
				</div>
			</nav>
		</header>

		{{ content }}

		<footer>
			<p class="footer-text footer-section nowrap">&copy; 2022 Aizistral<br />
				All contents of this website are<br />available under <a class="footer-link" target="_blank" href="https://github.com/Aizistral-Studios/aizistral.com/blob/master/LICENSE">MIT License</a>.</p>
			<div class="footer-right footer-section">
				<noscript>
					<p class="footer-text javascript-text">No JavaScript {% include inline_icon.html png="/assets/emoji/gigachad.webp" %}</p>
				</noscript>
				<p class="footer-text jekyll-text">Powered by <a class="footer-link" target="_blank" href="https://jekyllrb.com"><img class="jekyll-logo" src="/assets/images/jekyll_light.png" alt="Jekyll Logo"></a></p>

				<div class="footer-subsection">
					<p class="footer-text footer-hazard">☢️</p>
					<p class="footer-text"><strong>aizistral.com</strong><br /><a class="footer-link" target="_blank" href="{$brcl}">{$brc}</a>@<a class="footer-link" target="_blank" href="{$coml}">{$com}</a></p>
				</div>
			</div>
		</footer>
	</body>

</html>